.activities {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    padding: 7px;

}

.activity-container {

    margin-top: 20px;
    margin-left: 20px;
    height: 435px;
    width: 300px;

}

.item {
    margin-top: 3px;
}

.info {
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 10px;
}

.btn-list {
    width: 100%;
    padding: 0px;
    bottom: 0px;
}